<!DOCTYPE html>
<html>
<head>
    <title>Get me there</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Xor the World">
    <!-- Bootstrap core CSS-->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../public/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../public/css/sb-admin.css" rel="stylesheet">
    <link href="../public/css/razvan.css" rel="stylesheet">

</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a href="#" class="pull-left"><img src="https://i.imgur.com/94BA9Nq.png" height="28px" width="33px"></a>
    <a class="navbar-brand" href="#">Take Me There - Safe Directions</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
                <a id="goHome" class="nav-link">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" id="NavCharts" data-placement="right" title="Work">
                <a id="goToWork" class="nav-link" href="#">
                    <i class="fa fa-fw fa-briefcase"></i>
                    <span class="nav-link-text">Work</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" id="NavTables" data-placement="right" title="Recent destinations">
                <a id="getHistory" class="nav-link">
                    <i class="fa fa-fw fa-male"></i>
                    <span class="nav-link-text">Recent destinations</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" id="NavFeedback" data-placement="right" title="Give Feedback">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-star"></i>
                    <span class="nav-link-text">Give Feedback</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" id="NavCallCenter" data-placement="right" title="Call Us">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-phone"></i>
                    <span class="nav-link-text">Call Us</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Current Location" id="currentLocation">
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Destination" id="destination">
                    </div>
                </form>
            </li>

            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <select class="form-control" id="sel_mode">
                        <option value="DRIVING">Driving</option>
                        <option value="WALKING">Walking</option>
                        <option value="BICYCLING">Bicycling</option>
                        <option value="TRANSIT">Transit</option>
                    </select>
                </form>
            </li>

            {#<li class="nav-item">#}
                {#<select class="selectpicker" data-live-search="true">#}
                    {#<option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>#}
                    {#<option data-tokens="mustard">Burger, Shake and a Smile</option>#}
                    {#<option data-tokens="frosting">Sugar, Spice and all things nice</option>#}
                {#</select>#}
            {#</li>#}

            <li class="nav-item">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="searchBtn">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </li>

            <li class="nav-item">
                <a id="logout" class="nav-link" data-toggle="modal" data-target="#logoutModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="logoutModal" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="LogoutBtn" type="button" class="btn btn-primary">Logout</button>
              </div>
            </div>
          </div>
        </div>



<div id="map"></div>

<div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selected Route Details</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4"><p>Distance</p></div>
                    <div class="col-sm-8">
                        <div style="float:right;font-weight: bold"><p id="showDistance">""</p></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"><p>Estimated Time</p></div>
                    <div class="col-sm-8">
                        <div style="float:right;font-weight: bold"><p id="showETA">""</p></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"><p>Average Pollution</p></div>
                    <div class="col-sm-8">
                        <div style="float:right;font-weight: bold"><p id="showAveragePollution">""</p></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"><p>Air Quality</p></div>
                    <div class="col-sm-8">
                        <div style="float:right;font-weight: bold"><p id="showAirQuality"></p></div>
                </div>
            </div>

            <div class="row">
                            <div class="col-sm-4"><p>General Weather</p></div>
                            <div class="col-sm-8">
                                <div style="float:right;font-weight: bold"><p id="showGeneralWeather"></p></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4"><p>Min Temperature</p></div>
                            <div class="col-sm-8">
                                <div style="float:right;font-weight: bold"><p id="showMinTemp"></p></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4"><p>Max Temperature</p></div>
                            <div class="col-sm-8">
                                <div style="float:right;font-weight: bold"><p id="showMaxTemp">""</p></div>
                            </div>
                        </div>


                        <p id="showAdvice">""</p>
                    </div>
                    <div class="modal-footer">
                        <button id="MessageSendBtn" type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>

<div class="modal fade" id="historyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showUser">$users Search History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tblGrid">
                    <thead id="tblHead">
                        <tr>
                            <th>Destination</th>
                            <th> </th>
                            <th class="text-right">Time</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr class="clickable" id="row0"></tr>
                        <tr class="clickable" id="row1"></tr>
                        <tr class="clickable" id="row2"></tr>
                        <tr class="clickable" id="row3"></tr>
                        <tr class="clickable" id="row4"></tr>
                        <tr class="clickable" id="row5"></tr>
                        <tr class="clickable" id="row6"></tr>
                        <tr class="clickable" id="row7"></tr>
                        <tr class="clickable" id="row8"></tr>
                        <tr class="clickable" id="row9"></tr>
                        <tr class="clickable" id="row10"></tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="feedbackModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Us Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea rows="4" cols="50" id="feedbackText"> </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonSendFeedback" class="btn btn-primary">Send Feedback</button>
                <button type="button" id="btnCloseFeed" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="thankYouModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" align="center">Thank you for your feedback!</h1>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="callModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" align="center">Call Us</h1>
            </div>
            <div class="modal-body">
                <p>Tel Verde:</p>
                <a href="tel:0800-800-800">0800 800 800</a>
                <p></p>
                <p>Mobile:</p>
                <a href="tel:+40-31-360-5141">+40 31 360 5141</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="../public/home-js/map-styles.js"></script>


<!-- Bootstrap core JavaScript-->
<script src="../public/vendor/jquery/jquery.min.js"></script>
<script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="../public/js/sb-admin/sb-admin.min.js"></script>

<!-- Bootstrap core JavaScript-->

<script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script src="../public/vendor/angular/angular.min.js"></script>
<script src="../public/vendor/angular/angular-route.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="../public/home-js/homejs.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSIe_6R1MEOrQViImPLVBiOtriepEB3M8&callback=initMap" async defer></script>


</body>




</html>