<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Octavian Guzu">
  <title>My Crew</title>
  <!-- Bootstrap core CSS-->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../public/css/sb-admin.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Register</div>
      <div class="card-body">


        <form>
          <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" name="_username" type="text"">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" type="password" name="_password">
          </div>
          <div class="form-group">
            <label for="re-password">Retype Password:</label>
            <input class="form-control" id="re-password" type="password" name="_re-password">
          </div>
          <div class="form-group">
            <label for="home">Home:</label>
            <input class="form-control" id="home" name="home" type="text">
          </div>
          <div class="form-group">
            <label for="work">Work:</label>
            <input class="form-control" id="work" name="_work" type="text" ">
          </div>
        </form>

        <button id="guzu" class="btn btn-primary btn-block">Login</button>

        {#<div id="pass-match" class="text-center hidden" ><p class="text-danger hidden">Passwords don't match!</p></div>#}
      < /div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../public/vendor/jquery/jquery.min.js"></script>
  <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="../public/home-js/homejs.js"></script>
  <script src="../public/vendor/angular/angular.min.js"></script>
  <script src="../public/vendor/angular/angular-route.js"></script>

</body>

</html>
